<div class="footer  w-100">
    <div class="cont bg p-5 ">
        <div class="f1 text-white ">
            <div class="row">
                <div class="col-md-4 text-center pt-2 pb-2">
                    <h3>LOCATION</h3>
                    <h5 class="fw-light">2215 John Daniel Drive</h5>
                    <h5 class="fw-light">Clark, MO 65243</h5>
                </div>
                <div class="col-md-4 text-center pt-2 pb-2">
                    <h3>AROUND THE WEB</h3>
                    <div class="icons d-flex justify-content-center ">
                        <div class="icon d-flex justify-content-center align-items-center me-2">
                            <i class="fa-brands fa-facebook"></i>
                        </div>
                        <div class="icon d-flex justify-content-center align-items-center me-2">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div class="icon d-flex justify-content-center align-items-center me-2">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                        <div class="icon d-flex justify-content-center align-items-center me-2">
                            <i class="fa-solid fa-globe"></i>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="col-md-4 text-center pt-2 pb-2">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
    <div class="f2 text-center text-white bg2 p-4">
        <h6 class="text-light">Copyright © Your Website 2021</h6>
    </div>
</div>
