<div class="cont w-75 m-auto">
    <h1 class="fw-bold text-center ">CONTACT SECTION</h1>
    <div class="lines d-flex justify-content-center align-items-center">
        <div class="line"></div>
        <i class="fa-solid fa-star me-2 ms-2 mt-3 mb-3"></i>
        <div class="line"></div>
    </div>
    <div class="form d-flex flex-column">
        <input class="mb-5" type="text" placeholder="UserName">
        <input class="mb-5" type="number" placeholder="UserAge">
        <input class="mb-5" type="eamil" placeholder="UserEmail">
        <input  class="mb-5" type="password" placeholder="UserPassword">
        <button class="btn align-self-start">send Massage</button>
    </div>
    


</div>
